
<div class="company__container company">
  <div class="company__title">
    <h1 class="company__text">Каталог нашей продукции в разработке</h1>
  </div>
  <div class="company__body body-company">
    <div class="body-company__left left-company">
      <ul class="left-company__list">
        <li class="left-company__links"><a class="left-company__link" href="#">Product-1</a></li>
        <li class="left-company__links"><a class="left-company__link" href="#">Product-2</a></li>
        <li class="left-company__links"><a class="left-company__link" href="#">Product-3</a></li>
        <li class="left-company__links"><a class="left-company__link" href="#">More....</a></li>
        <a href=""></a>
      </ul>
    </div>
    <div class="body-company__right">
      <app-products [product]="products[0]"></app-products>
    </div>
  </div>
</div>

<div class="company__container company">
  <div class="company__title">
    <h1 class="company__text">Каталог нашей продукции в разработке</h1>
  </div>
  <div class="company__body body-company">
    <div class="body-company__left left-company">
      <ul class="left-company__list">
        <li class="left-company__links"><a class="left-company__link" href="#">Product-1</a></li>
        <li class="left-company__links"><a class="left-company__link" href="#">Product-2</a></li>
        <li class="left-company__links"><a class="left-company__link" href="#">Product-3</a></li>
        <li class="left-company__links"><a class="left-company__link" href="#">More....</a></li>
        <a href=""></a>
      </ul>
    </div>
    <div class="body-company__right">
      <app-products [product]="products[0]"></app-products>
    </div>
  </div>
</div>
