<div class="company__container company">
  <div class="company__block">
    <div class="company__box">
      <div class="company__title">
        <span class="company__item">{{show ? '⯭' : '⯯'}}</span>
        <h1 (click)="show = !show">ХУДОЖЕСТВЕННЫЙ МРАМОР</h1>
        <span class="company__item">{{show ? '⯭' : '⯯'}}</span>
      </div>
      <div *ngIf="show" class="company__info info-company">
        <div class="info-company__card">
            <div class="info-company__name">
              <p>101. Ротонды</p>
            </div>
            <div class="info-company__photo">
              <img src="{{ 'assets/photo/art100/101.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
            </div>
            <div class="info-company__size">
              <p>23</p>
            </div>
          </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>102. Беседки</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art100/102.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>103. Перголы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art100/103.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>104. Коллонады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art100/104.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>105. Аркады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art100/105.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>106. Фонтаны и водопады с бассейнами</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art100/106.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>107. Фонтаны и водопады с шарами</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art100/107.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>108. Фонтаны и водопады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art100/108.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>110. Питьевые фонтаны</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art100/110.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>111. Умывальники</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art100/111.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
      </div>
    </div>
    <div class="company__box">
      <div class="company__title">
        <span class="company__item">{{show1 ? '⯭' : '⯯'}}</span>
        <h1 (click)="show1 = !show1">АРХИТЕКТУРНЫЙ МРАМОР</h1>
        <span class="company__item">{{show1 ? '⯭' : '⯯'}}</span>
      </div>
      <div *ngIf="show1" class="company__info info-company">
        <div class="info-company__card">
          <div class="info-company__name">
            <p>201. Фасады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/201.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>202. Входные группы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/202.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>203. Лестницы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/203.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>204. Галереи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/204.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>205. Каминные залы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/205.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>206. Хаммамы, джакузи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/206.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>207. Респешены</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/207.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>208. Бары</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/208.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>209. Заборы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/209.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>210. Баллюстрады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/210.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
    </div>
    </div>
    <div class="company__box">
      <div class="company__title">
        <span class="company__item">{{show2 ? '⯭' : '⯯'}}</span>
        <h1 (click)="show2 = !show2">СТРОИТЕЛЬНЫЙ МРАМОР</h1>
        <span class="company__item">{{show2 ? '⯭' : '⯯'}}</span>
      </div>
      <div *ngIf="show2" class="company__info info-company">
        <div class="info-company__card">
          <div class="info-company__name">
            <p>201. Фасады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/201.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>202. Входные группы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/202.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>203. Лестницы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/203.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>204. Галереи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/204.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>205. Каминные залы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/205.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>206. Хаммамы, джакузи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/206.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>207. Респешены</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/207.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>208. Бары</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/208.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>209. Заборы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/209.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>210. Баллюстрады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/210.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
      </div>
    </div>
    <div class="company__box">
      <div class="company__title">
        <span class="company__item">{{show3 ? '⯭' : '⯯'}}</span>
        <h1 (click)="show3 = !show3">РИТУАЛЬНЫЙ МРАМОР</h1>
        <span class="company__item">{{show3 ? '⯭' : '⯯'}}</span>
      </div>
      <div *ngIf="show3" class="company__info info-company">
        <div class="info-company__card">
          <div class="info-company__name">
            <p>201. Фасады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/201.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>202. Входные группы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/202.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>203. Лестницы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/203.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>204. Галереи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/204.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>205. Каминные залы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/205.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>206. Хаммамы, джакузи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/206.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>207. Респешены</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/207.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>208. Бары</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/208.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>209. Заборы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/209.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>210. Баллюстрады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/210.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
      </div>
    </div>
    <div class="company__box">
      <div class="company__title">
        <span class="company__item">{{show4 ? '⯭' : '⯯'}}</span>
        <h1 (click)="show4 = !show4">РЕЛИГИОЗНЫЙ МРАМОР</h1>
        <span class="company__item">{{show4 ? '⯭' : '⯯'}}</span>
      </div>
      <div *ngIf="show4" class="company__info info-company">
        <div class="info-company__card">
          <div class="info-company__name">
            <p>201. Фасады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/201.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>202. Входные группы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/202.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>203. Лестницы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/203.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>204. Галереи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/204.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>205. Каминные залы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/205.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>206. Хаммамы, джакузи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/206.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>207. Респешены</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/207.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>208. Бары</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/208.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>209. Заборы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/209.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>210. Баллюстрады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/210.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
      </div>
    </div>
    <div class="company__box">
      <div class="company__title">
        <span class="company__item">{{show5 ? '⯭' : '⯯'}}</span>
        <h1 (click)="show5 = !show5">ПРОИЗВОДСТВЕННЫЙ МРАМОР</h1>
        <span class="company__item">{{show5 ? '⯭' : '⯯'}}</span>
      </div>
      <div *ngIf="show5" class="company__info info-company">
        <div class="info-company__card">
          <div class="info-company__name">
            <p>201. Фасады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/201.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>202. Входные группы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/202.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>203. Лестницы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/203.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>204. Галереи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/204.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>205. Каминные залы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/205.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>206. Хаммамы, джакузи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/206.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>207. Респешены</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/207.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>208. Бары</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/208.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>209. Заборы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/209.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>210. Баллюстрады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/210.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
      </div>
    </div>
    <div class="company__box">
      <div class="company__title">
        <span class="company__item">{{show6 ? '⯭' : '⯯'}}</span>
        <h1 (click)="show6 = !show6">ПРОМЫШЛЕННЫЙ МРАМОР</h1>
        <span class="company__item">{{show6 ? '⯭' : '⯯'}}</span>
      </div>
      <div *ngIf="show6" class="company__info info-company">
        <div class="info-company__card">
          <div class="info-company__name">
            <p>201. Фасады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/201.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>202. Входные группы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/202.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>203. Лестницы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/203.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>204. Галереи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/204.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>205. Каминные залы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/205.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>206. Хаммамы, джакузи</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/206.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>207. Респешены</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/207.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>208. Бары</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/208.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>209. Заборы</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/209.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
        <div class="info-company__card">
          <div class="info-company__name">
            <p>210. Баллюстрады</p>
          </div>
          <div class="info-company__photo">
            <img src="{{ 'assets/photo/art200/210.png' }}" alt="Изображение" style="max-width:100%; height:auto;">
          </div>
          <div class="info-company__size">
            <p>23</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>


<!--<div class="company__container company">-->

<!--  <div class="company__body body-company">-->
<!--    <div class="body-company__left left-company">-->
<!--      <ul class="left-company__list">-->
<!--        <li class="left-company__links"><a class="left-company__link" href="#">Product-1</a></li>-->
<!--        <li class="left-company__links"><a class="left-company__link" href="#">Product-2</a></li>-->
<!--        <li class="left-company__links"><a class="left-company__link" href="#">Product-3</a></li>-->
<!--        <li class="left-company__links"><a class="left-company__link" href="#">More....</a></li>-->
<!--        <a href=""></a>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="body-company__right">-->
<!--      <app-products [product]="products[0]"></app-products>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
