
<div class="company__container company">
  <div class="company__block">
    <div class="company__box">
      <div class="company__title">
        <h1>Камины</h1>
      </div>
      <div class="company__title">
        <h2>Дровяные порталы</h2>
      </div>
      <div class="company__info info-company">
        <div class="info-company__left">
          <h3>Описание продукции Beldini:</h3>
          <p>Наименование изделия: мраморный художественый портал дровяного камина</p>
          <p>Каминые дровяные порталы из белого мрамора - это декоративный элемент, окружающий каминый проём.
           Портал служит обрамлением камина, подчёркивающий его внешнюю привлекательность и элегантность</p>
        </div>
        <div class="info-company__center">
          <div class="info-company__slider">
            <img class="info-company__img" src="{{ 'assets/main/1.jpg' }}" >
          </div>
        </div>
        <div class="info-company__right">
          <h3>Описание справочной модели:</h3>
          <p>Код товарной группы:</p>
          <p>Артикул</p>
          <p>Модель:</p>
          <p>Минерал:</p>
          <p>Форма:</p>
          <p>Фактура</p>
          <p>Технология изготовления:</p>
        </div>
      </div>
      <button class="info-company__button" (click)="show = !show">Показать все</button>
      <div class="company__photos">
        <div *ngIf="show" class="company__card">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="company__container company">
  <div class="company__block">
    <div class="company__box">
      <div class="company__title">
        <h1>Фонтаны</h1>
      </div>
      <div class="company__title">
        <h2>Фонтан водяной</h2>
      </div>
      <div class="company__info info-company">
          <div class="info-company__left">
            <h3>Описание продукции Beldini:</h3>
            <p>Наименование изделия: Фонтан уличный</p>
            <p>Фонтан это элемент показывающий достаток и чувство стиля.
              Фонтан служит украшением сада, подчёркивающий его внешнюю привлекательность и элегантность</p>
          </div>
        <div class="info-company__center">
          <div class="info-company__slider">
            <img class="info-company__img" src="{{ 'assets/main/3.jpg' }}" >
          </div>
        </div>
        <div class="info-company__right">
          <h3>Описание справочной модели:</h3>
          <p>Код товарной группы:</p>
          <p>Артикул</p>
          <p>Модель:</p>
          <p>Минерал:</p>
          <p>Форма:</p>
          <p>Фактура</p>
          <p>Технология изготовления:</p>
        </div>
      </div>
      <button class="info-company__button" (click)="show = !show">Показать все</button>
      <div class="company__photos">
        <div *ngIf="show" class="company__card">

        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="company__container company">-->

<!--  <div class="company__body body-company">-->
<!--    <div class="body-company__left left-company">-->
<!--      <ul class="left-company__list">-->
<!--        <li class="left-company__links"><a class="left-company__link" href="#">Product-1</a></li>-->
<!--        <li class="left-company__links"><a class="left-company__link" href="#">Product-2</a></li>-->
<!--        <li class="left-company__links"><a class="left-company__link" href="#">Product-3</a></li>-->
<!--        <li class="left-company__links"><a class="left-company__link" href="#">More....</a></li>-->
<!--        <a href=""></a>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="body-company__right">-->
<!--      <app-products [product]="products[0]"></app-products>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
