
.company__container {
  background-color: black;
  margin-top: 150px;
  @media (max-width: 720px) {
    margin-top: 0;
  }
}
.company {
  background-color: black;
  padding: 30px 0;
  &__container {

  }
  &__text {}
  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    font-size: 14px;
    width: 95%;
    cursor: pointer;
    @media (max-width: 720px) {
      font-size: 8px;
    }
  }
  &__under {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    font-size: 14px;
    width: 95%;
    cursor: pointer;
    @media (max-width: 720px) {
      font-size: 8px;
    }
  }
}
.left-company {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style-type: none;
    text-decoration: none;
    color: white;
  }
  &__links {
    text-decoration: none;
    color: white;
  }
  &__link {
    gap: 25px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-style: italic;
    font-size: 20px;
    &:hover {
      text-decoration: underline;
      color: gold;
      transition: 0.5s;
    }
  }
}
.company {
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    width: 90%;
    cursor: pointer;
    @media (max-width: 720px) {
      font-size: 8px;
    }
  }
  &__text {}
  &__block {

  }
  &__box {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-bottom: 20px;
    color: white;
    border-bottom: 0.5px solid antiquewhite;
  }
  &__photos {}
}

.info-company {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  @media (max-width: 720px) {
    grid-template-columns: repeat(2, 160px);
    gap: 5px;
  }
  &__title {}
  &__left {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    font-size: 22px;
  }
  &__center {
    max-width: 30%;
  }
  &__right {
    max-width: 30%;
  }
  &__slider {}
  &__img {
    width: 300px;
  }
  &__button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid gold;
    cursor: pointer;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    box-shadow: 0 0.25rem 1.25rem rgba(232, 170, 49, 0.3);
    @media (max-width: 720px) {
      max-width: 120px;
    }
  }
  &__name {
    @media (max-width: 720px) {
      font-size: 8px;
    }
  }
  &__photo {
    padding: 0 10px;
    max-width: 230px;
    &:hover {
      transform: scale(1.5);
      transition: 0.5s;
    }
  }
  &__size {}

}

