.header{
  &__container{
  display: flex;
  flex-direction: column;
  }
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: relative;
    @media (max-width: 720px) {
      flex-direction: column;
    }
  }
  &__navigation {
    position: relative;
  }
  &__name {
    font-size: 40px;
    width: 250px;
    color: white;
    position: relative;
    margin-left: -160px;
    @media (max-width: 720px) {
      margin: 0 -30px;
      padding: 0 -20px;
    }
  }
}
.logo-header{
  color: white;
  position: relative;
  &__title {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: white;
    position: relative;
    margin-left: 550px;
    @media (max-width: 720px) {
      margin-left: 0;
    }
  }

  a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
  }
}

.info-header {
  position: relative;
  &__phones {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    position: relative;
  }
  &__emails {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    color: white;
    position: relative;
    @media (max-width: 720px) {
      display: none;
    }
  }
  &__socials {
    position: relative;
  }
}

.navigation-header {

  position: relative;
  *li{
    list-style-type: none;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    @media (max-width: 720px) {
      flex-direction: column;
      gap: 15px;
      padding-bottom: 40px;
    }
    @media (max-width: 520px) {
      flex-direction: column;
      gap: 15px;
      padding: 50px 40px 0;
    }

  }
  &__item {
    position: relative;
  }
  &__link {
    text-decoration: none;
    color: white;
    font-size: 46px;
    font-style: italic;
    position: relative;
    &:hover {
      text-decoration: underline;
      color: gold;
      transition: 0.5s;
    }
    @media (max-width: 720px) {
      padding-top: 25px;
      font-size: 24px;
    }
  }
}
[class*=active] {
  color: orange;
}
.emails-info__img {
  width: 40px;
  height: 40px;
  position: relative;
}

.socials-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0;
  justify-content: center;
  position: relative;
}
.phones-info__phone {
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative;
  &:hover {
    text-decoration: underline;
    color: gold;
    transition: 0.5s;
  }
}
.emails-info__email {
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative;
  &:hover {
    text-decoration: underline;
    color: gold;
    transition: 0.5s;
  }
}
.logo-img {
  width: 250px;
  position: relative;
  &:hover {
    scale: 120%;
    transition: 0.5s;
  }
}
.main-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -50px;
  margin-bottom: -250px;
  @media (max-width: 720px) {
    background-color: black;
  }
}
