<div class="footer footer__container">
  <h1 class="footer__title" >Подземелье</h1>
  <div class="footer__box box-footer">
    <div class="box-footer__left left-footer">
      <h2 class="left-footer__logo">LOGO</h2>
      <p class="left-footer__text">Что-то о сайте в виде общей информации</p>
    </div>
    <div class="box-footer__map">
      <p>Тут карта, если нужна</p>
    </div>
    <div class="box-footer__right right-footer">
      <ul class="right-footer__list">
        <li class="right-footer__item"><img class="emails-info__img" src="{{ 'assets/icons/instagram.ico' }}" alt="mail"><a class="right-footer__link" href="tel:+79854905113">+7(985) 490-51-13Телефон</a></li>
        <li class="right-footer__item"><img class="emails-info__img" src="{{ 'assets/icons/telegram.ico' }}" alt="mail"><a class="right-footer__link" href="mailto:beldini.ru@gmail.com">beldini.ru&#64;gmail.com</a></li>
        <li class="right-footer__item"><img class="emails-info__img" src="{{ 'assets/icons/telegram.ico' }}" alt="mail"><a class="right-footer__link" href="#">Telegram</a></li>
        <li class="right-footer__item"><img class="emails-info__img" src="{{ 'assets/icons/instagram.ico' }}" alt="mail"><a class="right-footer__link" href="#">Instagram</a></li>
        <li class="right-footer__item"><img class="emails-info__img" src="{{ 'assets/icons/viber.ico' }}" alt="mail"><a class="right-footer__link" href="#">Viber</a></li>
        <li class="right-footer__item"><img class="emails-info__img" src="{{ 'assets/icons/whatsapp.ico' }}" alt="mail"><a class="right-footer__link" href="#">WhatsApp</a></li>
      </ul>
    </div>
  </div>
</div>
