.footer {
  background-color: black;
  &__title {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 10px 0;
    color: antiquewhite;
  }
  &__box {

  }

}
 .footer__container {
    display: flex;
    flex-direction: column;
 }

 .box-footer {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
   justify-items: center;
   align-items: center;
   &__left {}
   &__map {
     display: none;
   }
   &__right {}
 }

 .left-footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 20px;
   color: antiquewhite;
   &__logo {}
   &__text {}
 }

 .right-footer {
   *li{
     list-style-type: none;
   }
   &__list {

   }
   &__item {
     padding: 5px 0;
     text-decoration: none;
     color: black;
     list-style-type: none;
     display: flex;
     align-items: center;
     gap: 15px;
     &:hover {
       text-decoration: underline;
       color: gold;
       transition: 0.5s;
     }
   }
   &__link {
     text-decoration: none;
     list-style-type: none;
     color: antiquewhite;
     font-size: 18px;
     &:hover {
       color: gold;
       transition: 0.5s;
     }
   }
 }
.emails-info__img {
  width: 35px;
  height: 35px;
}
.logo-img {
  width: 150px;
  &:hover {
    scale: 120%;
    transition: 0.5s;
  }
}

