<div class="footer footer__container">
  <div class="footer__box box-footer">
    <div class="box-footer__left left-footer">
      <h1><a class="logo-footer__title" [routerLink]="['/']"><img class="logo-img" src="{{ 'assets/logo/logo.jpg' }}" alt="mail"></a></h1>
    </div>
    <div class="box-footer__map">
      <p>Тут карта, если нужна</p>
    </div>
    <div class="box-footer__right right-footer">
      <ul class="right-footer__list">
        <li class="right-footer__item"><img class="emails-info__img" src="{{ 'assets/icons/phone.ico' }}" alt="mail"><a class="right-footer__link" href="tel:+79854905113">+7(985) 490-51-13Телефон</a></li>
        <li class="right-footer__item"><img class="emails-info__img" src="{{ 'assets/icons/mail.ico' }}" alt="mail"><a class="right-footer__link" href="mailto:beldini.ru@gmail.com">beldini.ru&#64;gmail.com</a></li>
      </ul>
    </div>
  </div>
</div>
