.library {
  background-color: black;
  margin-top: -40px;
  padding-bottom: 50px;
  @media (max-width: 720px) {
    padding-bottom: 10px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    margin: 40px 100px;
    padding: 40px 0;
    gap: 20px;
    @media (max-width: 720px) {
      padding: 0;
      margin: 40px 20px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-style: italic;
  }
  &__box {
    color: white;
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  &__item {
    margin: 0 20px;

  }
  &__name {
    margin: 0 20px;
    @media (max-width: 720px) {
      margin: 0 5px;
    }
  }
  &__info {
    cursor: pointer;
    padding-left: 50px;
    @media (max-width: 720px) {
      padding-left: 10px;
    }
  }
  &__text {
    padding: 0 70px;
    @media (max-width: 720px) {
      padding-left: 20px;
    }
  }
  &__headline {
    color: white;
    cursor: pointer;
    gap: 20px;
  }
}

