.club {
    padding: 250px 0;
    background-color: black;


}
.club__box {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
    align-items: center;
}
.club__title {
    color: white;
    font-size: 40px;
    font-style: italic;
    @media (max-width: 720px) {
        font-size: 20px;
    }
}
.club__login {

}
.club__pass {

}
.club__container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}