.prew {
    background-color: black;
    padding-top: 200px;
    padding-bottom: 25px;
    @media (max-width: 720px) {
        padding-top: 0;
    }
}
.prew__container {
    display: flex;
    flex-direction: row;
}
.prew__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.prew__boxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (max-width: 720px) {
        gap: 1px;
    }
}
.prew__list {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding-left: 10px;
    cursor: pointer;
    height: 30px;
    width: 400px;
    @media (max-width: 720px) {
        font-size: 8px;
        margin-left: 10px;
        padding-left: 5px;
        width: 150px;
    }
}
.prew__text {
    color: white;
    font-size: 24px;
    margin-right: 40px;
    @media (max-width: 720px) {
        font-size: 8px;
    }
}
[class*=active] {
    color: orange;
}