<div class="prew">
    <div class="prew__container">
        <div class="prew__left">
            <div class="prew__boxes">
                <div class="prew__list"><h2>История бренда</h2></div>
                <div class="prew__list"><h2>Товарный знак</h2></div>
                <div class="prew__list"><h2>Команда</h2></div>
                <div class="prew__list"><h2>Миссия</h2></div>
                <div class="prew__list"><h2>Фабрика мрамора</h2></div>
                <div class="prew__list"><h2>Галерея мрамора</h2></div>
                <div class="prew__list"><h2>Продукция</h2></div>
                <div class="prew__list"><h2>Сырьё для мраморной фабрики</h2></div>
                <div class="prew__list"><h2>Стоимость изделий</h2></div>
                <div class="prew__list"><h2>Авторские права</h2></div>
                <div class="prew__list"><h2>Сертификаты качества</h2></div>
                <div class="prew__list"><h2>Патенты</h2></div>
                <div class="prew__list"><h2>Договор на приобретение</h2></div>
                <div class="prew__list"><h2>Гарантийные обязательства</h2></div>
                <div class="prew__list"><h2>Выгода приобретения</h2></div>
                <div class="prew__list"><h2>Услуги</h2></div>
                <div class="prew__list"><h2>Проектирование и модернизация</h2></div>
                <div class="prew__list"><h2>Подбор камня</h2></div>
                <div class="prew__list"><h2>Изготовление изделий</h2></div>
                <div class="prew__list"><h2>Логистика</h2></div>
                <div class="prew__list"><h2>Монтаж</h2></div>
                <div class="prew__list"><h2>Сотрудничество</h2></div>
                <div class="prew__list"><h2>Франшиза</h2></div>
                <div class="prew__list"><h2>Инвестиции в проект</h2></div>
                <div class="prew__list"><h2>Экскурсия на завод</h2></div>
                <div class="prew__list"><h2>Благотворительность</h2></div>
                <div class="prew__list"><h2>Пожертвование в проект</h2></div>
            </div>
        </div>
        <div class="prew__right">

        </div>
    </div>
</div>