<div class="prew">
    <div class="prew__container">
        <div class="prew__left">
            <div class="prew__boxes">
                <div class="prew__list" *ngFor="let item of list" (click)="more1 = !more1; onSelectItem(item)" [class.active]="item == activeItem"><h2>История бренда</h2></div>
                <div class="prew__list" *ngFor="let item of list" (click)="more2 = !more2; onSelectItem(item)" [class.active]="item == activeItem"><h2>Товарный знак</h2></div>
                <div class="prew__list" (click)="more3 = !more3" ><h2>Команда</h2></div>
                <div class="prew__list" (click)="more4 = !more4"><h2>Миссия</h2></div>
                <div class="prew__list" (click)="more5 = !more5"><h2>Фабрика мрамора</h2></div>
                <div class="prew__list" (click)="more6 = !more6"><h2>Галерея мрамора</h2></div>
                <div class="prew__list" (click)="more7 = !more7"><h2>Продукция</h2></div>
                <div class="prew__list" (click)="more8 = !more8"><h2>Сырьё для мраморной фабрики</h2></div>
                <div class="prew__list" (click)="more9 = !more9"><h2>Стоимость изделий</h2></div>
                <div class="prew__list" (click)="more10 = !more10"><h2>Авторские права</h2></div>
                <div class="prew__list" (click)="more11 = !more11"><h2>Сертификаты качества</h2></div>
                <div class="prew__list" (click)="more12 = !more12"><h2>Патенты</h2></div>
                <div class="prew__list" (click)="more13 = !more13"><h2>Договор на приобретение</h2></div>
                <div class="prew__list" (click)="more14 = !more14"><h2>Гарантийные обязательства</h2></div>
                <div class="prew__list" (click)="more15 = !more15"><h2>Выгода приобретения</h2></div>
                <div class="prew__list" (click)="more16 = !more16"><h2>Услуги</h2></div>
                <div class="prew__list" (click)="more17 = !more17"><h2>Проектирование и модернизация</h2></div>
                <div class="prew__list" (click)="more18 = !more18"><h2>Подбор камня</h2></div>
                <div class="prew__list" (click)="more19 = !more19"><h2>Изготовление изделий</h2></div>
                <div class="prew__list" (click)="more20 = !more20"><h2>Логистика</h2></div>
                <div class="prew__list" (click)="more21 = !more21"><h2>Монтаж</h2></div>
                <div class="prew__list" (click)="more22 = !more22"><h2>Сотрудничество</h2></div>
                <div class="prew__list" (click)="more23 = !more23"><h2>Франшиза</h2></div>
                <div class="prew__list" (click)="more24 = !more24"><h2>Инвестиции в проект</h2></div>
                <div class="prew__list" (click)="more25 = !more25"><h2>Экскурсия на завод</h2></div>
                <div class="prew__list" (click)="more26 = !more26"><h2>Благотворительность</h2></div>
                <div class="prew__list" (click)="more27 = !more27"><h2>Пожертвование в проект</h2></div>
            </div>
        </div>
        <div class="prew__right">
            <div class="prew__info">
                <div class="prew__text" *ngIf="more1">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                    создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                    Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                    изысканного мастерства.</p>
                    <p>В первые годы своего существования Бельдини начинала как небольшая мастерская,
                        оттачивавшая традиционные методы обработки мрамора. Бренд быстро завоевал признание
                        благодаря превосходному качеству и вниманию к деталям. Это привело к расширению ее
                        деятельности, привлечению квалифицированных ремесленников и мастеров, которые привнесли
                        в компанию свой опыт.</p>
                    <p>По мере того как репутация Бельдини росла, она начала сотрудничать с известными
                        архитекторами и художниками, внося свой вклад в престижные проекты по всему миру.
                        Скульптуры бренда украшали общественные пространства, частные дома и музеи, покоряя
                        публику замысловатым дизайном и безупречным исполнением. Стремление Бельдини к
                        совершенству и инновациям вывело компанию на передовые позиции в мраморной
                        промышленности.</p>
                    <p>Со временем Бельдини диверсифицировал свои предложения, включив в них создание памятников,
                        удовлетворяя растущий спрос на индивидуальные мемориалы и надгробия. Талантливая команда
                        дизайнеров и камнерезов бренда тесно сотрудничала с клиентами, воплощая их идеи в
                        долговечные памятники, воздающие дань уважения близким.</p>
                    <p>Мастерство Бельдини в огранке камня из белого мрамора стало одной из его отличительных
                        черт. Бренд закупал высококачественный белый мрамор из известных карьеров, гарантируя,
                        что сырье соответствует уровню мастерства. В результате этого точного процесса резки
                        камня были созданы потрясающие плиты, плитки и архитектурные элементы, которые
                        олицетворяли элегантность и чистоту белого мрамора.</p>
                    <p>С каждым годом Beldini продолжала совершенствовать свои методы, внедряя в свою
                        деятельность современные технологии и устойчивые практики. Приверженность бренда
                        экологической ответственности привела к реализации стратегий эффективного управления
                        ресурсами и сокращения отходов.</p>
                    <p>Сегодня Beldini является всемирно признанным брендом, представляющим собой воплощение
                        совершенства в обработке мрамора. Его скульптуры, памятники и изделия из камня украшают
                        престижные места по всему миру, оставляя неизгладимый след в архитектурных и художественных
                        ландшафтах. Благодаря своей непоколебимой приверженности качеству, инновациям и уважению к
                        традициям, компания Beldini остается именем, которому доверяют в мраморной промышленности,
                        продолжая формировать мир с помощью вечной красоты белого мрамора.</p>
                </div>
                <div class="prew__text" *ngIf="more2">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more3">
                    <p>Команда компании, занимающейся обработкой мрамора и изготовлением скульптур,
                        обычно включает в себя ряд квалифицированных специалистов, обладающих опытом
                        в различных аспектах. Вот подробное описание членов команды и их ролей:</p>
                    <p>1. Дизайнеры/Моделисты/Конструкторы/Архитекторы/Проектировщики. Эти профессионалы
                        имеют творческий опыт и отвечают за концептуализацию и проектирование скульптур,
                        памятников и других изделий из мрамора. Они тесно сотрудничают с клиентами, чтобы
                        понять их требования, и используют программное обеспечение САПР или нарисованные
                        от руки эскизы для создания детальных проектов.</p>
                    <p>2. Скульпторы/Художники. Эти высококвалифицированные мастера воплощают проекты в жизнь,
                        превращая мраморные блоки в замысловатые и красивые произведения искусства. Они обладают
                        глубоким пониманием характеристик и свойств мрамора и используют различные инструменты,
                        такие как долота, молотки и шлифовальные машины, для точной и художественной обработки
                        камня.</p>
                    <p>3. Операторы ЧПУ. Токаря и фрезеровщики</p>
                    <p>4. Резчики по камню. Эти специалисты специализируются на резке необработанного белого мраморного
                        камня до желаемых размеров и форм. Они используют режущие станки, такие как алмазные канатные
                        пилы или мостовые пилы, чтобы точно разрезать мраморные блоки в соответствии с проектами
                        скульпторов и дизайнеров.</p>
                    <p>4. Резчики/граверы. Резчики добавляют к мраморным скульптурам сложные детали, текстуры
                        и узоры, используя различные техники, такие как резьба, гравировка и травление. Они
                        используют ручные инструменты или машины для создания тонких линий, рельефов и
                        декоративных элементов на мраморных поверхностях.</p>
                    <p>5. Полировщики: после того, как скульптуры или памятники вырезаны, есть люди, ответственные
                        за окончательную отделку мраморных изделий. Для достижения желаемой гладкости и блеска
                        поверхности мрамора используют абразивные инструменты, наждачную бумагу и полировальные
                        составы.</p>
                    <p>6. Контроль качества. Персонал по контролю качества отвечает за проверку мраморных изделий
                        на различных этапах производства, чтобы убедиться, что они соответствуют требуемым
                        стандартам. Они проверяют наличие каких-либо дефектов, нарушений или неточностей и
                        гарантируют, что окончательный результат соответствует первоначальным спецификациям
                        проекта.</p>
                    <p>7. Логисты</p>
                    <p>8. Команда по установке: эта команда отвечает за транспортировку и установку готовых
                        мраморных изделий в нужных местах. Им необходимо обеспечить правильное обращение,
                        безопасную транспортировку и точную установку, чтобы продемонстрировать скульптуры
                        или памятники в предназначенных для них местах.</p>
                </div>
                <div class="prew__text" *ngIf="more4">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more5">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more6">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more7">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more8">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more9">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more10">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more11">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more12">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more13">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more14">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more15">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more16">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more17">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more18">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more19">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more20">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more21">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more22">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more23">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more24">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more25">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more26">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
                <div class="prew__text" *ngIf="more27">
                    <p>Бренд Beldini имеет богатую историю в сфере обработки мрамора, специализируясь на скульптуре,
                        создании памятников и резке камня из белого мрамора. Он был основан в 2023 году Ринатом из
                        Коелги, целью которого было продемонстрировать вневременную красоту мрамора посредством
                        изысканного мастерства.</p>
                </div>
            </div>
        </div>
    </div>
</div>