<div class="container">

<div class="mainPage page__container">
  <div class="page__title">
    <h1>Beldini иновации в мраморе</h1>
  </div>
  <div class="page__up">
    <div class="page__left">
      <div class="page__text">
        <h2>Бренд Beldini начал свою историю задолго до его основания. Он был организован командой опытных
          мастеров, имеющих богатую историю в сфере обработки мрамора. Каждый из нас внёс в компанию свои
          наработки, опыт и знания с целью продемонстрировать вневременную красоту мрамора посредством
          изысканного мастерства.</h2>
        <h2>Нашей гордостью является виртуальная галерея мрамора, не имеющая аналогов в мире.
          Она была создана кропотливым трудом гуру в области мрамора. Мы долго дискутировали и доводили
          каталоги до совершенства, предстоят еще небольшие правки, годы на пополнение портфолио и описаний,
          но сегодня это лучшее, что есть для Вас.</h2>
        <h2>В первые дни своего существования Beldini начинала трудиться в небольшой художественной мастерской,
          оттачивая технологии и методы обработки мрамора, изобретая новые технологии и продукты, которых еще
          не встречали на рынке. Мы ускоренно работаем над выпуском патентов на разработки от Beldini, чтобы
          вскоре покорить Вас новыми образцами.</h2>
        <h2>Бренд быстро завоевал признание благодаря превосходному качеству и вниманию к деталям. Это привело
          к повышению спроса и расширению деятельности. Дорожа своей репутацией, мы начали сотрудничать с
          известными скульпторами, ремесленниками и каменотёсами, вносящими свой вклад в престижные проекты
          по всему миру. Организовав контроль качества и обучение персонала, мы производим продукцию на
          контрактных производствах проверенных изготовителей со всего мира, отдавая предпочтение
          узкоспециализированным фабрикам, готовым создавать эксклюзивные, индивидуальные работы по нашим
          проектам.</h2>

        <h2>Стремление Beldini к разнообразию, совершенству и инновациям выводит компанию на передовые
          позиции в мраморной промышленности. Скульптуры бренда украшают общественные пространства,
          частные дома и музеи, покоряя публику замысловатым дизайном и безупречным исполнением.</h2>

        <h2>Со временем Beldini диверсифицировал свои предложения, включив в них создание памятников,
          удовлетворяя растущий спрос на индивидуальные мемориалы и надгробия. Талантливая команда
          дизайнеров и скульпторов бренда тесно сотрудничает с клиентами, воплощая идеи в долговечные
          памятники, воздающие дань уважения близким. В следующий сезон мы планируем опубликовать
          эксклюзивный каталог художественных мемориалов памятников от Beldini.</h2>

        <h2>Мастерство бренда в обработке камня из белого мрамора стало одной из наших отличительных черт.
          Beldini закупает высококачественный белый мрамор высших сортов именитых карьеров, гарантируя,
          что сырье соответствует уровню мастерства, а изделия олицетворяют элегантность и чистоту белого
          мрамора.</h2>

        <h2>Работая с экологически чистым минералом, мы заботимся об окружающей среде. Приверженность бренда
          экологической ответственности привела к реализации стратегий эффективного управления ресурсами
          и сокращения отходов.</h2>

        <h2>Сегодня, благодаря своей непоколебимой приверженности качеству, инновациям и экологичности,
          уважению к традициям, компания Beldini становится именем, которое формирует мир с помощью вечной
          красоты белого мрамора.</h2>
      </div>
    </div>
    <div class="page__right">
      <div class="page__slider">
        <div class="slider">
          <input type="radio" name="switch" id="btn1" checked>
          <input type="radio" name="switch" id="btn2">
          <input type="radio" name="switch" id="btn3">

          <div class="switch">
            <label for="btn1"></label>
            <label for="btn2"></label>
            <label for="btn3"></label>
          </div>

          <div class="slider-inner">
            <div class="slides">
              <img class="emails-info__img" src="{{ 'assets/slide/1.png' }}" alt="mail">
              <img class="emails-info__img" src="{{ 'assets/slide/2.png' }}" alt="mail">
              <img class="emails-info__img" src="{{ 'assets/slide/3.png' }}" alt="mail">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page__down down-page">
    <h2>Каждое произведение для нас отдельная история, все изделия создаются или дорабатываются
      вручную, мастер передаёт своё настроение и опыт по Вашим воображениям. Сложные работы
      создаются больше года, лёгкие идут на потоке, но каждая из них требует индивидуального
      подхода и тесной связи с Заказчиком.
    </h2>
    <div class="down-page__box">
      <div class="down-page__text">
        <h2>Огромная галерея продукции на самый изысканый вкус</h2>
        <img class="down-page__img" src="{{ 'assets/main/1.jpg' }}" >
      </div>
    </div>
    <h2>Выступаем в роли заказчиков и исполнителей, оказываем помощь на всех этапах, от консультации
      до приёмки готовых работ. Изделия выполняются на нашей фабрике и на мощностях участников
      мраморного клуба, по этому приёмка работ для нас играет важную роль.</h2>
    <div class="down-page__box">
      <div class="down-page__text2">
        <h2>Грамотные специалисты, которые ответя на любые вопросы</h2>
        <img class="down-page__img" src="{{ 'assets/main/2.jpg' }}" >
      </div>
    </div>
    <h2>Для заказа изделия Вам достаточно рассказать о своих предпочтениях, мы поможем в
      выборе изделия по Вашему бюджету и вкусу. Бюджет в мраморном деле играет важную роль,
      так как вкусы, как и аппетиты, всегда высоки, ведь сложнее работы могут доходить до десятков
      миллионов, это скорей исключение, но с нашем командой мы способны создать всё. А на что Вы готовы?</h2>
    <div class="down-page__box">
      <div class="down-page__text">
        <h2>Гарантия качества и индивидуальный подход к каждому заказчику</h2>
        <img class="down-page__img" src="{{ 'assets/main/3.jpg' }}" >
      </div>
    </div>
  </div>
</div>
</div>
