<div class="container">
  <img class="main-back" src="{{ 'assets/background/main.jpg' }}" >
<div class="mainPage page__container">
  <div class="page__title">
    <h1>Beldini the best of the best</h1>
  </div>
  <div class="page__up">
    <div class="page__left">
      <div class="page__text">
        <h2>Команда Beldini является гуру в области белого мрамора. Наш проект предлагаем
          Вам окунаться в мир произведений искусства и найти для себя изделия по вкусу.
          С программой «мрамор в каждый дом» мы подготовили для Вас галерею, подходящую
          для многие случаи, будь то подарки, сувениры, изделия в интерьер, капитальные
          конструкции, индивидуальные произведения и другие изделия, являющееся символом
          чистой жизни и светлой памяти.</h2>
        <h2>Мы являемся основателями мраморного клуба, куда входят участники рынка,
          в него привлекаем достойные мрамородобывающие компании, мраморные фабрики,
          лучшие скульпторы, минералоги и моделисты.</h2>
      </div>
    </div>
    <div class="page__right">
      <div class="page__slider">
        <div class="slider">
          <input type="radio" name="switch" id="btn1" checked>
          <input type="radio" name="switch" id="btn2">
          <input type="radio" name="switch" id="btn3">

          <div class="switch">
            <label for="btn1"></label>
            <label for="btn2"></label>
            <label for="btn3"></label>
          </div>

          <div class="slider-inner">
            <div class="slides">
              <img class="emails-info__img" src="{{ 'assets/slide/1.png' }}" alt="mail">
              <img class="emails-info__img" src="{{ 'assets/slide/2.png' }}" alt="mail">
              <img class="emails-info__img" src="{{ 'assets/slide/3.png' }}" alt="mail">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page__down down-page">
    <h2>Каждое произведение для нас отдельная история, все изделия создаются или дорабатываются
      вручную, мастер передаёт своё настроение и опыт по Вашим воображениям. Сложные работы
      создаются больше года, лёгкие идут на потоке, но каждая из них требует индивидуального
      подхода и тесной связи с Заказчиком.
    </h2>
    <div class="down-page__box">
      <div class="down-page__text">
        <h2>Огромная галерея продукции на самый изысканый вкус</h2>
        <img class="down-page__img" src="{{ 'assets/main/1.jpg' }}" >
      </div>
    </div>
    <h2>Выступаем в роли заказчиков и исполнителей, оказываем помощь на всех этапах, от консультации
      до приёмки готовых работ. Изделия выполняются на нашей фабрике и на мощностях участников
      мраморного клуба, по этому приёмка работ для нас играет важную роль.</h2>
    <div class="down-page__box">
      <div class="down-page__text2">
        <h2>Грамотные специалисты, которые ответя на любые вопросы</h2>
        <img class="down-page__img" src="{{ 'assets/main/2.jpg' }}" >
      </div>
    </div>
    <h2>Для заказа изделия Вам достаточно рассказать о своих предпочтениях, мы поможем в
      выборе изделия по Вашему бюджету и вкусу. Бюджет в мраморном деле играет важную роль,
      так как вкусы, как и аппетиты, всегда высоки, ведь сложнее работы могут доходить до десятков
      миллионов, это скорей исключение, но с нашем командой мы способны создать всё. А на что Вы готовы?</h2>
    <div class="down-page__box">
      <div class="down-page__text">
        <h2>Гарантия качества и индивидуальный подход к каждому заказчику</h2>
        <img class="down-page__img" src="{{ 'assets/main/3.jpg' }}" >
      </div>
    </div>
  </div>
</div>
</div>
