
.products-card {

  &__container {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr;
    justify-items: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 0;
    box-shadow: 0 4px 20px rgba(232, 170, 49, 0.43);
    &:hover {
        box-shadow: 0 4px 25px rgba(232, 170, 49, 0.63);
    }
    }

    &__title {
    }

    &__img {
      max-width: 150px;
      max-height: 150px;

      &:hover {
        scale: 1.5;
        transition: 0.3s;
      }
    }

      &__price {
      }

      &__button {
        margin-bottom: 10px;
        cursor: pointer;
        color: black;


      }

      &__details {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
      }

      &__description {
      }

      &__rate {
      }
    }

    .details-products {

      &__description {
      }

      &__rate {
      }

      &__counter {
        display: flex;
        gap: 40px;
      }

      &__up {
      }

      &__math {
      }

      &__down {
      }
    }

.btn-dark {
  transition: 0.3s;
  background-color: yellow;
}

.btn {
  background-color: gold;
  transition: 0.3s;
}


.products-card {

  &__container {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr;
    justify-items: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 0;
    box-shadow: 0 4px 20px rgba(232, 170, 49, 0.43);
    &:hover {
        box-shadow: 0 4px 25px rgba(232, 170, 49, 0.63);
    }
    }

    &__title {
    }

    &__img {
      max-width: 150px;
      max-height: 150px;

      &:hover {
        scale: 1.5;
        transition: 0.3s;
      }
    }

      &__price {
      }

      &__button {
        margin-bottom: 10px;
        cursor: pointer;
        color: black;


      }

      &__details {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
      }

      &__description {
      }

      &__rate {
      }
    }

    .details-products {

      &__description {
      }

      &__rate {
      }

      &__counter {
        display: flex;
        gap: 40px;
      }

      &__up {
      }

      &__math {
      }

      &__down {
      }
    }

.btn-dark {
  transition: 0.3s;
  background-color: yellow;
}

.btn {
  background-color: gold;
  transition: 0.3s;
}

